@font-face {
  font-family: 'Space Age';
  src: url('/Fonts/space-age.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ======= Fondo del sidebar ======= */
.sidenav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  /* ocupa toda la pantalla */
  padding: 1rem 0.5rem;
  gap: 1rem;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow-y: auto;
}

/* ======= Botones principales ======= */
.nav-button {
  width: 80%;
  height: 70px;
  color: rgb(0, 0, 0);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 25px;
  border: 4px solid #5f6063;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

/* Hover del botón */
.nav-button:hover {
  background-color: rgba(29, 28, 28, 0.842);
  color: #ffffff;
  transform: scale(1.03);
  border-color: #2c2e30;
}

/* Estado activo del botón */
.active {
  background-color: rgb(70, 69, 69);
  color: #ffffff;
  border-radius: 25px;
}

/* ======= Icono del usuario ======= */
.user-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 100%;
  padding-top: 7rem;
  overflow: visible;
  background: transparent;
  margin-top: -3rem;
  padding: auto;
  margin-bottom: -1.8rem;
}

.user-icon {
  font-size: 18rem;
  color: #ffffff;
  display: block;
  line-height: 1;
  height: auto;
  width: auto;
  color: rgb(0, 0, 0);
}

/* ============================== Mensaje de bienvenida ================================== */
.user-message {
  margin-top: auto;
  /* resp al fondo dela barra */
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #2c2c2c;
  padding: 1.5rem 0;
  background-color: #ffffff;
}

/* =================================== 530 Image ======================================= */

.logo-imagen {
  width: 70%;
  max-width: 350px;
  height: auto;
  margin: 0 auto 0.5rem;
}

.user-message {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #2c2c2c;
  margin: 0;
}

.Img-message-container {
  margin-top: auto;
  text-align: center;
  padding: 1rem 0;
  background: #ffffff;
  position: sticky;
  bottom: 0;
  z-index: 5;
}

/* ======================== MEDIA QUERIES ======================== */

@media (max-width: 1024px) {
  .nav-button {
    width: 80%;
    font-size: 1rem;
  }

  .user-icon {
    font-size: 15vw;
  }
}

@media (max-width: 768px) {
  .sidenav-list {
    width: 70px;
    padding: 0.5rem 0;
  }

  .nav-button span {
    display: none;
  }

  .user-icon {
    font-size: 8vw;
  }

  .logo-imagen {
    width: 40%;
  }

  .user-message {
    font-size: 0.8rem;
  }
}