@font-face {
  font-family: 'Space Age';
  src: url('/Fonts/space-age.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ======= Encabezado del sidebar ======= */
.header-title {
  font-family: 'Space Age', sans-serif;
  font-weight: 600;
  padding: 1rem 0.5rem;
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

/* ======= Logo ======= */
.logo-img {
  width: 15rem;
  height: 3.5rem;
  transition: all 0.3s;
}

/* ======= Fondo del sidebar ======= */
.sidenav-list {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  background-color: #ffffff;
  /* background-color: #cfcfcf; */
}

/* ======= Botones principales ======= */
.nav-button {
  width: 80%;
  height: 70px;
  color: rgb(0, 0, 0);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 25px;
  border: 4px solid #5f6063;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

/* Hover del botón */
.nav-button:hover {
  background-color: rgba(29, 28, 28, 0.842);
  color: #ffffff;
  transform: scale(1.03);
  border-color: #2c2e30;
}

/* Estado activo del botón */
.active {
  background-color: rgb(70, 69, 69);
  color: #ffffff;
  border-radius: 25px;
}

/* ======= Icono del usuario ======= */
.user-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px; 
  width: 100%;
  padding-top: 7rem;
  overflow: visible;
  background: transparent;
  margin-top: 1rem;
  padding: auto;
  margin-bottom: 2rem; 
}

.user-icon {
  font-size: 25rem !important;
  color: #ffffff;
  display: block !important;
  line-height: 1 !important;
  height: auto !important;
  width: auto !important;
  color: rgb(0, 0, 0);
}

/* ======= Mensaje de bienvenida ======= */
.user-message {
  margin-top: auto; /* resp al fondo dela barra */
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #2c2c2c;
  padding: 1.5rem 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* ========= 530 Image ================ */

.logo-imagen {
  margin-top: 3rem;
}