<div class="body-container">
  <div class="cards-container">

    <div *ngIf="filteredPrendas.length === 0" class="placeholder">
      <div class="loader"></div>
    </div>

    <mat-card *ngFor="let prenda of filteredPrendas" class="card" appearance="outlined">
      <mat-card-content class="card-content">
        <img
          mat-card-image
          src="AAPW22-09B.png"
          alt="{{ prenda.mod }}"
          class="card-image"
        />

        <h3 class="card-title" style="font-weight: 700; font-size: 25px;">{{ prenda.mod }}</h3>
        <p style="font-size: 22px; padding: 5px; line-height: 1.5;"><strong>Programador:</strong> {{ prenda.trb }}</p>
        <p style="font-size: 22px; padding: 5px; "><strong>Máquina:</strong> {{ prenda.maq }}</p>
        <p style="font-size: 22px; padding: 5px;  line-height: 1.5;"><strong>Cantidad:</strong> {{ prenda.cnt }}</p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button color="primary" class="card-button">
          Ver Detalles
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>