:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* ===== Barra principal ===== */
.header-toolbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  height: auto;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.1);
}

/* ===== Lado izquierdo ===== */
.left-buttons {
  display: flex;
  align-items: center;
  gap: 16px; /* separación general entre los elementos */
}

/* ===== Logo ===== */
.logo {
  height: 60px; /* ajusta el tamaño del logo */
  width: auto;
  object-fit: contain;
  margin: 10px 20px; /* agrega espacio arriba/abajo y separa del texto */
}

/* ===== Texto "By CrusalCorp" ===== */
.toolbar-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #3c3c3c;
  margin-left: 10px; /* espacio entre logo y texto */
}

/* ===== Texto "PRODUCCIÓN STOLL" ===== */
.welcome-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #4b4b4b;
  margin-right: 1rem;
}